/* 
COLORS
PRIMARY
Green 500: hsl(158, 36%, 37%)
Green 700: hsl(158, 42%, 18%)

NEUTRAL
Black: hsl(212, 21%, 14%)
Grey: hsl(228, 12%, 48%)
Cream: hsl(30, 38%, 92%)
White: hsl(0, 0%, 100%)

TYPOGRAPHY
BODY COPY
Font size (paragraph): 14px

FONT
Family: Montserrat
Family: Fraunces
Weights: 500, 700
Weights: 700
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.9rem;
}

/* Mobile approach */
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  /* border: 1px solid black; */
  width: 24.1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}

img {
  width: 24.1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

article {
  padding: 1.2rem 1.8rem 1.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.name {
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 0.7rem;
  font-weight: 500;
}

h1 {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces";
}

.text {
  line-height: 1.5rem;
}

.prices {
  display: flex;
  gap: 1rem;
}

.new-price {
  font-size: 2.1rem;
  font-family: "Fraunces";
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.old-price {
  align-self: center;
  text-decoration: line-through;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  /* border: 1px solid black; */
  padding: 1.1rem;
  border-radius: 0.5rem;
  background-color: hsl(158, 36%, 37%);
  font-weight: 500;
}

.btn {
  color: white;
}

.icon {
  font-size: 1.1rem;
}

.btn {
  text-decoration: none;
}

.btn:hover {
  background-color: hsl(158, 42%, 18%);
  transition: 0.5s;
}

/* DESKTOP APPROACH */
@media (min-width: 90rem) {
  main {
    width: 37.5rem;
    display: grid;
    grid-template-columns: repeat(2, 18.8rem);
    justify-content: center;
  }

  .image {
    background-image: url(images/image-product-desktop.png);
    background-size: 18.1rem;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  img {
    visibility: hidden;
  }

  article {
    padding-left: 1.6rem;
    padding-right: 2.3rem;
  }

  .text {
    font-size: 0.9rem;
  }
}
